<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShopcito</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- 1 Sección para crear el botón de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button  
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" data-bs-target="#agregarResena">
                            <i class="fas fa-plus"></i> [[#{promocion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar promoción, es la ventana modal -->
        <section th:fragment="agregarResena">
            <div id="agregarResena" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{resena.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/resena/guardar}" th:object="${resena}" method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="idEstilista">[[#{resena.estilista}]]</label>
                                    <select name="estilista.idEstilista" 
                                            class="form-select">
                                        <option th:each="e : ${estilistas}" 
                                                th:value="${e.idEstilista}">[[${e.nombre}]]</option>
                                    </select>
                                </div>
                                        <div class="mb-3">
                                                    <label for="idUsuario">[[#{mensajecontacto.usuario}]]</label>
                                                    <select name="usuario.idUsuario" 
                                                            class="form-select">
                                                        <option th:each="s : ${usuarios}" 
                                                                th:value="${s.idUsuario}">[[${s.nombre}]]</option>
                                                    </select>
                                                </div>

                                <div class="mb-3">
                                    <label for="calificacion">[[#{resena.calificacion}]]</label>
                                    <select name="calificacion" class="form-select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="comentario">[[#{resena.comentario}]]</label>
                                        <textarea class="form-control" 
                                        rows="3" 
                                        name="comentario" 
                                        th:field="*{comentario}"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="fecha">[[#{resena.fecha}]]</label>
                                    <input type="date" 
                                           class="form-control" 
                                           name="fecha" required="true"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la información de la entidad promoción -->
        <section th:fragment="listadoResenas" id="resenas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{resena.listado}]]</h4>
                            </div>
                            <div th:if="${resenas != null and !resenas.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{resena.calificacion}]]</th>
                                            <th>[[#{resena.comentario}]]</th>
                                            <th>[[#{resena.idResena}]]</th>
                                            <th>[[#{resena.fecha}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="resena, contador : ${resenas}">
                                            <td>[[${resena.idResena}]]</td>
                                            <td>[[${resena.comentario}]]</td>
                                            <td style="text-align: end">[[${resena.calificacion}]]</td>
                                            <td style="text-align: center">[[${resena.estilista.idEstilista}]]</td>
                                            <td style="text-align: center">[[${resena.usuario.idUsuario}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/resena/eliminar/}+${resena.idResena}" 
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                                <a th:href="@{/resena/modificar/}+${resena.idResena}" 
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${resenas == null or resenas.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{promocion.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-tags"></i> [[${totalResenas}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifica.html -->
        <section th:fragment="editarResena">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/resena/guardar}" th:object="${resena}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="IdResena" th:field="*{idResena}"/>
                        <input type="hidden" name="IdUsuario" th:field="*{idUsuario}"/>
                        <section th:replace="~{resena/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                    <label for="idEstilista">[[#{resena.estilista}]]</label>
                                    <select name="estilista.idEstilista" 
                                            class="form-select">
                                        <option th:each="e : ${estilistas}" 
                                                th:value="${e.idEstilista}">[[${e.nombre}]]</option>
                                    </select>

                                <div class="mb-3">
                                    <label for="calificacion">[[#{resena.calificacion}]]</label>
                                    <select name="calificacion" class="form-select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="comentario">[[#{resena.comentario}]]</label>
                                        <textarea class="form-control" 
                                        rows="3" 
                                        name="comentario" 
                                        th:field="*{comentario}"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label for="fecha">[[#{resena.fecha}]]</label>
                                    <input type="date" 
                                           class="form-control" 
                                           name="fecha" required="true"/>
                                </div>

                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/resena/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/resena/eliminar/}+${resena.idResena}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        <section th:fragment="tarjetas" class="bg-light">
            <div class="row row-cols-4">
                <div class="card" th:each="r : ${resenas}">
                    <figure>
                        <img src="https://static.vecteezy.com/system/resources/previews/008/015/694/non_2x/3d-cartoon-golden-yellow-stars-elements-for-game-design-web-graphics-icons-application-concept-interface-ratings-illustration-vector.jpg"
                             height="200"
                             alt="alt"/>
                        <figcaption>
                            [[${r.calificacion}]] ([[${r.fecha}]])
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4>[[${r.comentario}]]</h4>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
