<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShopcito</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <!-- 1 Sección para crear el botón de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            sec:authorize="hasRole('ROLE_ADMIN')"
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" data-bs-target="#agregarPromocion">
                            <i class="fas fa-plus"></i> [[#{promocion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar promoción, es la ventana modal -->
        <section th:fragment="agregarPromocion">
            <div id="agregarPromocion" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{promocion.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/promocion/guardar}" 
                              th:object="${promocion}" 
                              method="POST" 
                              class="was-validated" 
                              enctype="multipart/form-data">

                            <!-- Selección de Servicio -->
                            <div class="mb-3">
                                <label for="idServicio">[[#{promocion.servicio}]]</label>
                                <select name="servicio.idServicio" class="form-select" required="true">
                                    <option th:each="s : ${servicios}" 
                                            th:value="${s.idServicio}" 
                                            th:text="${s.descripcion}">Servicio</option>
                                </select>
                            </div>
                            
                            <!-- Nombre -->
                            <div class="mb-3">
                                <label for="nombre">[[#{promocion.nombre}]]</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="nombre" 
                                       required="true"/>
                            </div>

                            <!-- Descripción -->
                            <div class="mb-3">
                                <label for="descripcion">[[#{promocion.descripcion}]]</label>
                                <input type="text" 
                                       class="form-control" 
                                       name="descripcion" 
                                       required="true"/>
                            </div>

                            <!-- Descuento -->
                            <div class="mb-3">
                                <label for="descuento">[[#{promocion.descuento}]]</label>
                                <input type="number" 
                                       class="form-control" 
                                       name="descuento"  
                                       required="true"/>
                            </div>

                            <!-- Fecha Inicio -->
                            <div class="mb-3">
                                <label for="fechaInicio">[[#{promocion.fechaInicio}]]</label>
                                <input type="date" 
                                       class="form-control" 
                                       name="fechaInicio" 
                                       required="true"/>
                            </div>

                            <!-- Fecha Fin -->
                            <div class="mb-3">
                                <label for="fechaFin">[[#{promocion.fechaFin}]]</label>
                                <input type="date" 
                                       class="form-control" 
                                       name="fechaFin" 
                                       required="true"/>
                            </div>

                            <!-- Imagen -->
                            <div class="mb-3">
                                <label for="imagen">[[#{promocion.imagen}]]</label>
                                <input class="form-control" 
                                       type="file" 
                                       name="imagenFile" 
                                       onchange="readURL(this);"/>
                                <img id="blah" src="#" alt="your image" height="200" />
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la información de la entidad promoción -->
        <section th:fragment="listadoPromociones" id="promociones">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{promocion.listado}]]</h4>
                            </div>
                            <div th:if="${promociones != null and !promociones.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{promocion.descripcion}]]</th>
                                            <th>[[#{promocion.descuento}]]</th>
                                            <th>[[#{promocion.fechaInicio}]]</th>
                                            <th>[[#{promocion.fechaFin}]]</th>
                                            <th>[[#{promocion.servicio}]]</th>
                                            <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="promocion, contador : ${promociones}">
                                            <td>[[${promocion.idPromocion}]]</td>
                                            <td>[[${promocion.descripcion}]]</td>
                                            <td style="text-align: end">[[${promocion.descuento}]]</td>
                                            <td style="text-align: center">[[${promocion.fechaInicio}]]</td>
                                            <td style="text-align: center">[[${promocion.fechaFin}]]</td>
                                            <td>[[${promocion.servicio.descripcion}]]</td>
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/promocion/eliminar/}+${promocion.idPromocion}" 
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                                <a th:href="@{/promocion/modificar/}+${promocion.idPromocion}" 
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${promociones == null or promociones.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{promocion.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-tags"></i> [[${totalPromociones}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifica.html -->
        <section th:fragment="editarPromocion">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/promocion/guardar}" th:object="${promocion}" class="was-validated" enctype="multipart/form-data">
                        <input type="hidden" name="idPromocion" th:field="*{idPromocion}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{promocion/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="idServicio">[[#{promocion.servicio}]]</label>
                                                    <select name="servicio.idServicio" 
                                                            th:field="*{servicio.idServicio}" 
                                                            class="form-select">
                                                        <option th:each="s : ${servicios}" 
                                                                th:value="${s.idServicio}">[[${s.descripcion}]]</option>
                                                    </select>
                                                </div>
                                                <!-- Nombre -->
                                                <div class="mb-3">
                                                    <label for="nombre">[[#{promocion.nombre}]]</label>
                                                    <input type="text" 
                                                           class="form-control" 
                                                           name="nombre" 
                                                           th:field="*{nombre}"
                                                           required="true"/>
                                                </div>

                                                                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{promocion.descripcion}]]</label>
                                                    <input type="text" 
                                                           class="form-control" 
                                                           name="descripcion" 
                                                           th:field="*{descripcion}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="descuento">[[#{promocion.descuento}]]</label>
                                                    <input type="number" 
                                                           class="form-control" 
                                                           name="descuento" 
                                                           th:field="*{descuento}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="fechaInicio">[[#{promocion.fechaInicio}]]</label>
                                                    <input type="date" 
                                                           class="form-control" 
                                                           name="fechaInicio" 
                                                           th:field="*{fechaInicio}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="fechaFin">[[#{promocion.fechaFin}]]</label>
                                                    <input type="date" 
                                                           class="form-control" 
                                                           name="fechaFin" 
                                                           th:field="*{fechaFin}" required="true"/>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="activo">[[#{promocion.activo}]]</label>
                                                    <input class="form-check-input" type="checkbox" name="activo" id="activo" th:field="*{activo}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{promocion.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                                    <img id="blah" th:src="@{${promocion.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/promocion/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/promocion/eliminar/}+${promocion.idPromocion}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
         <!-- 1 Sección para crear el los tabs de las categorias-->
        <section th:fragment="tabsServicios" class="bg-light">
            <div class="row p-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/promocion/listado">[[#{pruebas.todas}]]</a>
                    </li>
                    <li class="nav-item" th:each="s : ${servicios}">
                        <a class="nav-link"
                        th:href="@{/promocion/listado/} + ${s.idServicio}">[[${s.nombre}]]</a>
                    </li>
                </ul>
            </div>
        </section>

        <!-- 2 Sección para mostrar las tarjetas de los productos -->
        <section th:fragment="tarjetas" class="bg-light">
            <div class="row row-cols-4">
                <div class="card" th:each="p : ${promociones}">
                    <figure>
                        <img th:src="${p.rutaImagen}"
                             height="200"
                             alt="alt"/>
                        <figcaption>
                            ¢[[${p.descuento}]] ([[${p.fechaFin}]])
                        </figcaption>
                    </figure>
                    <div class="card-header">
                        <h4>[[${p.descripcion}]]</h4>
                    </div>
                    <div class="card-body">
                        <p>[[${p.nombre}]]</p>
                    </div>
                </div>
            </div>
        </section>
        
        
        
    </body>
</html>


